
{% if site.google_analytics_tag %}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tag }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics_tag }}');
	</script>
{% endif %}


<!-- Load Modernizr -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- adding jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- end of jquery -->

<script src="{{ site.url }}{{ site.baseurl }}/assets/js/scripts.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/lunr.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/lunr-search.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/plugins/headroom.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/vendor/forkit.js"></script>

<!-- Prism -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/prism.js"></script>
