{% capture category_count %}{{ site.categories | size }}{% endcapture %}
{% assign count = category_count | plus: 0 %}
{% if count > 1 %}

<div class="categories-section">
  <h3 class="categories-heading">
    <span class="fa fa-th-list"></span> Categories
  </h3>
  <ul class="categories-list">
    {% for category in site.categories %}
      <li class="category-item"> 
        <a name="{{ category | first | capitalize }}" href="{{ site.url }}{{ site.baseurl }}/categories/{{ category | first }}/" class="category-link">
          {{ category | first | capitalize }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endif %}
